<include  file='Public:header'/>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center p-md">
                    <h1><span class="text-navy">模块化电商平台系统</span> —— PacteraCMS</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>主要模块</h3>
                </div>
                <div class="ibox-content">
                    <p>1.会员类型管理 - 可创建多种会员类型，设置不同的注册参数和权限</p>
                    <p>2.会员管理系统 - 会员注册、登录、重设密码、会员资料修改 </p>
                    <p>3.权限控制系统 - 针对会员类型或单个会员设置阅读、发布权限</p>
                    <p>4.模块管理系统 - 自定义安装模块,自由扩展</p>
                    <p>5.移动电商系统 - B2B C2C O2O 全面支持</p>
                    <p>6.互动交流社区 - 可打通DISCUZ!论坛</p>
                    <p>7.系统插件设置 - 通过后台设置安装各种封装好的插件 </p>
                    <p>8.管理权限设置 - 可设多个管理员，自由分配各种管理权限</p>
                </div>
            </div>
        </div>
    </div>
</div>
<include  file='Public:footer'/>