<div class="clearfix margin-30">
    <div class="form-horizontal">
        <form id="j-user-add-form" class="form-horizontal" action="{:U('user/savePassword')}" method="post">
            <div class="form-group">
                <label class="col-sm-3 control-label">账号/名称</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="account" id="userName" disabled="disabled" value="{$detail.account|default=''}"
                           placeholder="请输入账号">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">输入原密码</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  name="oldPassword" value="" id="oldpassword"
                           placeholder="请输入用户原始密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">输入新密码</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control"  name="newPassword" value="" id="newpassword"
                           placeholder="请输入用户新密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">再次输入新密码</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control"  name="rePassword" value="" id="repassword"
                           placeholder="请再次输入密码">
                </div>
            </div>
            <input type="hidden" class="form-control" name="userId" value="{$detail.id}" id="userId">
        </form>
    </div>
</div>
<block name="script">
<script>
    $().ready(function() {
        var icon = "<i class='fa fa-exclamation-triangle'></i>";
        $("#j-user-add-form").validate({
            debug: false, //debug，只验证不提交表单
            success:"valid",
            submitHandler: function(){
                /*校验成功后执行*/
                return true;
            },
//          errorClass: 'fa fa-exclamation-triangle error',
            rules: {
                oldPassword: {
                    required: true,
                    remote: {
                        url: "{:U('checkPassword')}",     //后台处理程序
                        type: "post",               //数据发送方式
                        dataType: "json",           //接受数据格式
                        data: {                     //要传递的数据
                            password: function() {return $('#oldpassword').val();},
                            userId: function() {return $("#userId").val();}
                        }
                    }
                },
                newPassword: {
                    required: true,
                    minlength: 5
                },
                rePassword: {
                    required: true,
                    minlength: 5,
                    equalTo: "#newpassword"
                },
            },
            messages: {
                oldPassword: {
                    required:icon + "必填项",
                    remote:"请检查原始密码"
                },
                newPassword: {
                    required: '请输入新密码',
                    minlength: '新密码必须大于5位'
                },
                rePassword: {
                    required: '请输入新密码',
                    minlength: '密码必须大于5位',
                    equalTo: '两次新密码不一致',
                },
            }
        });
    });
</script>
</block>
