<script>
    (function () {
        var ThinkPHP = window.Think = {
            "ROOT": "__ROOT__", //当前网站地址
            "APP": "__APP__", //当前项目地址
            "ASSET": "__ASSET__",
            "PUBLIC": "__PUBLIC__",
            "JS_CONTROLLER_NAME": "{:CONTROLLER_NAME}"
        };
    })();
</script>
<link href="__ASSET__/Common/Admin/plugins/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
<link href="__ASSET__/Common/Admin/css/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="__ASSET__/Common/Admin/css/animate.min.css" rel="stylesheet">
<link href="__ASSET__/Common/Admin/css/index.min.css" rel="stylesheet">
<link href="__ASSET__/Common/Admin/css/common.min.css" rel="stylesheet">