<include file="Public/header" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <form action="{:U('index')}" id="form" method="post">
                        <div class="input-group my-form">
                            <input type="text" placeholder="输入钩子名称搜索" name="keyword" value="{$keyword}" class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-my" onclick="$('#form').submit()">查找</button>
                            </span>
                        </div>
                    </form>
                    {:BA('add', '', '添加钩子', 'load', 'btn btn-my pull-right', '100%', '100%')}
                </div>
                <div class="ibox-content ho">
                    <div class="clearfix">
                        <table class="table table-bordered my-table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>钩子名称</th>
                                <th>描述</th>
                                <th>类型</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="var">
                                <tr>
                                    <td>{$key+1}</td>
                                    <td>{$var.name}</td>
                                    <td>{$var.description}</td>
                                    <td>{$var.type_info}</td>
                                    <td>
                                        <empty name="var.create_time">
                                            -
                                            <else/>
                                            {$var.create_time|date='Y-m-d H:i:s',###}
                                        </empty>
                                    </td>
                                    <td>
                                        {:BA('edit', array("id" => $var["id"]), '查看/编辑', 'load', '', '100%', '100%')}
                                        {:BA('delete', array("id" => $var["id"]), '删除', '', '')}
                                    </td>
                                </tr>
                            </volist>
                            <tr>
                                <td colspan="20" align="left">
                                    <div class="lt" style="margin-left: 50px;">
                                        <ul class="pagination"> {$page}</ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />