<div class="clearfix margin-30">
    <form id="goods-attr-form" class="form-horizontal" action="{:U('save')}" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">属性名称：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="attr_name" value="{$data.attr_name}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">所属模型：</label>
            <div class="col-sm-9">
                <select name="attrtype" class="form-control">
                    <foreach name="types" item="vo" key="k">
                        <eq name="k" value="$data.type_id">
                            <option value="{$k}" selected="selected">{$vo}</option>
                            <else/>
                            <option value="{$k}">{$vo}</option>
                        </eq>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">属性类型：</label>
            <div class="col-sm-9">
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="attr_type" checked value="1">文本
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="attr_type" value="2">单选下拉框
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label>
                        <input type="radio" name="attr_type" value="3">多行文本
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group hide extra-val">
            <label class="col-sm-2 control-label">可选值：</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="attr_values" rows="4"
                          placeholder="一行为一个属性项">{$data.attr_values|getAttrItem}</textarea>
            </div>
        </div>
        <notempty name="data">
            <input type="hidden" name="id" value="{$data.id}"/>
        </notempty>
    </form>
    <input type="hidden" id="attrtype" value="{$data.attr_type}"/>
</div>
<script>
    $(function () {
        $("textarea[name=attr_values]").html($("textarea[name=attr_values]").val().replace(/#/g, "\n"));
        //
        $("input[type=radio]").click(function () {
            var attrtype = $("#attrtype").val();
            if ($(this).val() == 2) {
                $(".extra-val").removeClass('hide');
            } else {
                $("textarea[name=attr_values]").val('');
                $(".extra-val").addClass('hide');
            }
        });

        function init() {
            var attrtype = $("#attrtype").val();
            $("input[type=radio]").each(function () {
                if ($(this).val() == attrtype) {
                    $(this).trigger('click');
                }
            });
        }

        init();

    });
</script>