<link href="__ASSET__/Common/Admin/css/Font-Awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .text-left {
        text-align: left !important;
    }
    .i-style{font-size: 16px}
</style>
<div class="clearfix margin-30">
    <form action="{:U('menu/save',array('menu_id'=>$detail['menu_id']))}" method="post">
        <!--<div class="form-group-my ho">
            <label class="pull-left text-right" for="cname">栏目组</label>
            <select name="data[parent_id]" class="form-control pull-left" readonly="readonly">
                <option value="0">一级菜单</option>
                <foreach name="datas" item="var">
                    <if condition="($var.parent_id eq 0)">
                        <option value="{$var.menu_id}"   <eq name="var.menu_id" value="$detail[parent_id]"> selected="selected" </eq> >{$var.menu_name}</option>
                    </if>
                </foreach>
            </select>
        </div>-->
        <div class="form-group-my ho">
            <label class="pull-left" for="cname">名称</label>
            <input name="data[menu_name]" value="{$detail.menu_name}" type="text" class="form-control pull-left j-val" />
            <input name="data[menu_id]" value="{$detail.menu_id}" type="hidden" />
        </div>
        <div class="form-group-my ho">
            <label class="pull-left text-right">选择图标</label>
            <div class="input-group pull-right">
                <input type="text" name="data[icon]" placeholder="请选择." class="form-control" id="icon2"  value="{$detail.icon}" readonly>
                <span class="input-group-btn"><button type="button" class="btn btn-my j-change-icon">选择icon</button> </span>
            </div>
        </div>
    </form>
</div>
<script>
    $(function () {
        //  选择icon 打开iframe选择
        $('.j-change-icon').on('click', function () {
            var changeId=$(this).parent().prev().attr('id');
            console.log(changeId);
            var index=layer.open({
                type: 2,
                title: '选择icon',
                skin: 'layui-layer-me', //样式类名
                area: ['600px', '80%'],
                shift: 0,
                shade: 0.6,
                maxmin: true, //开启最大化最小化按钮
                content:"{:U('icon')}"+"&id="+changeId
            });
        })
    })
</script>