<include file="Public/headerManage"/>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <label>状态：</label>
                    <form>
                        <select class="form-control my-form width-160">
                            <option>全部</option>
                            <option>已启用</option>
                            <option>已关闭</option>
                        </select>
                        <div class="input-group my-form width-220">
                            <input type="text" placeholder="Search for..." class="form-control">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-my">搜索</button>
                            </span>
                        </div>
                        <button type="button" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i> 批量删除
                        </button>
                        <button type="button" class="btn btn-my pull-right j-add-ad"><i class="fa fa-plus"></i> 添加广告
                        </button>
                    </form>
                </div>
                <div class="ibox-content ho">
                    <div class="clearfix">
                        <div class="tab-group ho" id="j-tab">
                            <a href="#tab1" class="cur">全部(15)</a>
                            <a href="#tab2">首页轮播图(5)</a>
                            <a href="#tab3">分类页广告图(10)</a>
                        </div>
                        <div class="tabs ho">
                            <div id="tab1" class="tab active">
                                <table class="table table-bordered my-table">
                                    <thead>
                                    <tr>
                                        <th class="selectAll" width="50"><input class="j-checkAll" type="checkbox"></th>
                                        <th width="60">序号</th>
                                        <td width="80">排序</td>
                                        <th width="80">广告位</th>
                                        <th width="100">图片</th>
                                        <th width="140">尺寸(像素)</th>
                                        <th width="200">链接地址</th>
                                        <th width="160">加入时间</th>
                                        <th width="180">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>首页轮播图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-default j-status" title="启用"><i
                                                    class="fa fa-times"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>首页轮播图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-success j-status" title="停用"><i
                                                    class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td></td>
                                        <td>分类页广告图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-success j-status" title="停用"><i
                                                    class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        <li class="num active"><a href="#">1</a></li>
                                        <li class="num"><a href="#">2</a></li>
                                        <li class="num"><a href="#">3</a></li>
                                        <li class="num"><a href="#">4</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">下一页</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div id="tab2" class="tab">
                                <table class="table table-bordered my-table">
                                    <thead>
                                    <tr>
                                        <th class="selectAll" width="50"><input class="j-checkAll" type="checkbox"></th>
                                        <th width="60">序号</th>
                                        <td width="80">排序</td>
                                        <th width="80">广告位</th>
                                        <th width="100">图片</th>
                                        <th width="140">尺寸(像素)</th>
                                        <th width="200">链接地址</th>
                                        <th width="160">加入时间</th>
                                        <th width="180">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>首页轮播图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-default j-status" title="启用"><i
                                                    class="fa fa-times"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>首页轮播图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-success j-status" title="停用"><i
                                                    class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        <li class="num active"><a href="#">1</a></li>
                                        <li class="num"><a href="#">2</a></li>
                                        <li class="num"><a href="#">3</a></li>
                                        <li class="num"><a href="#">4</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">下一页</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div id="tab3" class="tab">
                                <table class="table table-bordered my-table">
                                    <thead>
                                    <tr>
                                        <th class="selectAll" width="50"><input class="j-checkAll" type="checkbox"></th>
                                        <th width="60">序号</th>
                                        <td width="80">排序</td>
                                        <th width="80">广告位</th>
                                        <th width="100">图片</th>
                                        <th width="140">尺寸(像素)</th>
                                        <th width="200">链接地址</th>
                                        <th width="160">加入时间</th>
                                        <th width="180">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td></td>
                                        <td>分类页广告图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-success j-status" title="停用"><i
                                                    class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" class="form-group" name="sub"></td>
                                        <td>1</td>
                                        <td></td>
                                        <td>分类页广告图</td>
                                        <td><img src="__LOCAL_ASSET__/Mall/Admin/images/logo.jpg"></td>
                                        <td>600×300</td>
                                        <td>http://www.yuxang.com</td>
                                        <td>2016-08-25 15:06:00</td>
                                        <td>
                                            <a href="javascript:;" class="btn btn-sm btn-success j-status" title="停用"><i
                                                    class="fa fa-check"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-info" title="编辑"><i
                                                    class="fa fa-pencil-square-o"></i></a>
                                            <a href="javascript:;" class="btn btn-sm btn-danger j-del" title="删除"><i
                                                    class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <nav class="text-center">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        <li class="num active"><a href="#">1</a></li>
                                        <li class="num"><a href="#">2</a></li>
                                        <li class="num"><a href="#">3</a></li>
                                        <li class="num"><a href="#">4</a></li>
                                        <li><span>...</span></li>
                                        <li><a href="#">下一页</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footerManage"/>
<block name="script">
    <script>
        $(function () {
            /*分页切换*/
            mall.change_page();
            /*tab切换*/
            mall.tab_init();
            /*启用停用操作*/
            mall.toggle_status();
            /*删除*/
            $(".j-del").on('click', function () {
                layer.confirm('注意：确定要删除吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                });
            });
            /*添加广告*/
            mall.add_ad();
        });
    </script>
</block>