<include file="Public/headerManage"/>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <label>商品模型：</label>
                    <form action="{:U('index')}" id="spec-form" method="post">
                        <div class="input-group my-form">
                            <select id="goods-type" name="type" class="form-control">
                                <option value="">全部</option>
                                <foreach name="types" item="vo" key="k">
                                    <eq name="k" value="$Think.request.type">
                                        <option value="{$k}" selected="selected">{$vo}</option>
                                        <else/>
                                        <option value="{$k}">{$vo}</option>
                                    </eq>
                                </foreach>
                            </select>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-my" onclick="$('#spec-form').submit()">查找</button>
                            </span>
                        </div>
                        <button id="add-button" type="button" class="btn btn-my pull-right">
                            <i class="fa fa-plus"></i>添加商品规格
                        </button>
                    </form>
                </div>
                <div class="ibox-content ho">
                    <div class="clearfix">
                        <table class="table table-bordered my-table">
                            <thead>
                            <tr>
                                <th width="40">ID</th>
                                <th width="300">规格名称</th>
                                <th width="300">所属模型</th>
                                <th>规格项</th>
                                <th width="180">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="var">
                                <tr>
                                    <td>{$var.id}</td>
                                    <td>{$var.spec_name}</td>
                                    <td>{$var.type.name}</td>
                                    <td>
                                        <volist name="var.items" id="item" key="k">
                                            <neq name="k" value="1">，</neq>
                                            {$item.item}
                                        </volist>
                                    </td>
                                    <td>
                                        <a href="{:U('form', array('id' => $var['id']))}"
                                           class="btn btn-sm btn-info edit-btn"
                                           title="编辑">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </a>
                                        <a href="{:U('delete', array('id' => $var['id']))}"
                                           class="btn btn-sm btn-danger del-btn" title="删除">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <nav class="text-center">
                            <ul class="pagination">{$page}</ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footerManage"/>
<block name="script">
    <script>
        $(function () {
            /*分页切换*/
            mall.change_page();
            /*启用停用操作*/
            mall.toggle_status();
            // 删除单条记录
            $(".del-btn").click(function () {
                var url = $(this).attr('href');
                layer.confirm('您要删除这条记录么？', {
                    btn: ['确定', '取消']
                }, function () {
                    $.get(url, function (response) {
                        if (response.status === 'success') {
                            layer.msg('删除成功！', {icon: 1});
                            window.location.reload(true);
                        } else {
                            layer.msg('删除失败！', {icon: 2});
                        }
                    });
                });
                return false;
            });
            // pop form action
            function popform(url, isEdit) {
                var boxtitle = isEdit ? '编辑商品规格' : '新增商品规格';
                var buttons = isEdit ? ['保存', '取消'] : ['添加', '取消'];
                $.get(url, function (html) {
                    mall.layer_boxs(1, boxtitle, ['600px', '400px'], html, buttons, function (index) {
                        var saveurl = $("#goods-spec-form").attr("action");
                        var specname = $("input[name=spec_name]").val();
                        var specitems = $.trim($("textarea[name=items]").val());
                        if (!specname) {
                            layer.msg('规格名称不能为空！', {icon: 2});
                            return false;
                        }
                        if (!specitems) {
                            layer.msg('规格项不能为空！', {icon: 2});
                            return false;
                        }
                        $.post(saveurl, {
                            id: $("input[name=id]").val(),
                            spec_name: specname,
                            type_id: $("select[name=spectype]").val(),
                            items: specitems.split("\\n")
                        }, function (response) {
                            if (response.status == 'success') {
                                layer.msg('模型保存成功！', {icon: 1});
                                layer.close(index);
                                location.reload();
                            } else {
                                var message = response.message ? response.message : '模型保存失败！'
                                layer.msg(message, {icon: 2});
                            }
                        });
                    });
                });
            }

            //编辑商品模型
            $(".edit-btn").click(function () {
                var url = $(this).attr('href');
                popform(url, true);
                return false;
            });
            // 新增商品模型
            $("#add-button").click(function () {
                var url = "{:U('form')}";
                popform(url);
            });
        });
    </script>
</block>