<include file='Public/header' />
<body>

<div class="content">
    <input  type="hidden" id="mobile_phone" value="{$member.phone}" >
    <if condition='$type eq 1'>
        <!--设置取款密码  bg-->
        <div class="amend-password">
            <form action='{:U("Member/bankPassword")}' method='post' id="j_pay_password">
                <div class="weui_cells weui_cells_form edit-address">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">密码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="new_password" type="password" id='password' placeholder="至少6位数字/字母/下划线">
                        </div>
                        <div><i class="iconfont icon-iconxianshi eye"></i></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">确认密码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="confirm_password"  type="password" placeholder="请再次输入新密码">
                        </div>
                        <div><i class="iconfont icon-iconxianshi eye"></i></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="mobile_code" type="text" placeholder="请先绑定手机号码">
                            <input type="hidden" name="code" id="flag" value=""/>
                            <input type="hidden" name="sms_code" value="{$sms_code}" id="sms_code"/>
                        </div>
                        <div><input type="button" value="获取验证码" class="verification-code" data-url="{:U('Sms/send')}" id="send_code"></div>
                    </div>
                </div>

                <div class="submit-button">
                    <input type="submit" value="提交">
                </div>
            </form>
        </div>
        <!--设置取款密码  end-->
    <else />
        <!--修改取款密码  bg-->
        <div class="amend-password">
            <form action='{:U("Member/bankPassword")}' method='post' id="j_pay_password">
                <div class="weui_cells weui_cells_form edit-address">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">原密码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="old_password" type="password" placeholder="请输入原密码" >
                        </div>
                        <div><i class="iconfont icon-iconxianshi eye"></i></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">新密码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="new_password" type="password" id='password' placeholder="至少6位数字/字母/下划线">
                        </div>
                        <div><i class="iconfont icon-iconxianshi eye"></i></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">确认密码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="confirm_password" type="password" placeholder="请再次输入新密码" >
                        </div>
                        <div><i class="iconfont icon-iconxianshi eye"></i></div>
                    </div>
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" name="mobile_code" type="text" placeholder="请输入验证码">
                            <input type="hidden" name="code" id="flag" value=""/>
                            <input type="hidden" name="sms_code" value="{$sms_code}" id="sms_code"/>
                        </div>
                        <div><input type="button" value="获取验证码" class="verification-code" data-url="{:U('Sms/send')}" id="send_code"></div>
                    </div>
                </div>

                <div class="submit-button">
                    <input type="submit" value="提交">
                </div>
            </form>
            <div class="hint">
                <p class="hint-tit">温馨提示</p>
                <div>
                    <p>如果您忘记原取款密码，</p>
                    <p>请拨打客服电话：4000-820-132找回</p>
                </div>

            </div>
        </div>
        <!--修改取款密码  end-->
    </if>
</div>
<script src="__LOCAL_ASSET__/{:MODULE_NAME}/Mobile/js/public.js"></script>
<script src="__ASSET__/Common/Mobile/js/jquery-validation-1.13.1/jquery.validate.min.js"></script>
<script src="__ASSET__/Common/Mobile/js/jquery-validation-1.13.1/additional-methods.js"></script>
<script>
    $(function () {
        
        $("#j_pay_password").validate({
            debug: true, //debug，只验证不提交表单
            submitHandler: function(form){
                form.submit();
            },
            errorLabelContainer: $("#j_pay_password div.error-msg"),
            rules: {
                old_password: {
                    required: true,
                    minlength: 6,
                },
                new_password: {
                    required: true,
                    minlength: 6,
                },
                confirm_password: {
                    required: true,
                    minlength: 6,
                    equalTo: "#password"
                },
                mobile_code: {
                    required: true,
                }
            },
            messages: {
                old_password: {
                    required: "请输入原密码",
                    minlength: "密码长度不能少于6个字符",
                },
                new_password: {
                    required: "请输入密码",
                    minlength: "密码长度不能少于6个字符",
                },
                confirm_password: {
                    required: "请输入确认密码",
                    minlength: "密码长度不能少于6个字符",
                    equalTo: "确认密码和密码不一致"
                },
                mobile_code: {
                    required: "请输入验证码",
                    isZipCode: "请输入正确的验证码"
                }
            }
        });
        
        $("#send_code").on('click',function(){
            publicFunction.send_sms('#mobile_phone','#flag','#sms_code','#send_code');
        });
    });
</script>
<include file='Public/footer' />