<include file="Public/header" />
<body class="animated fadeInRight">

<div class="content">
    <dl class="message-list message-list1">
        <dd>
            <a href="{:U('Member/memberInfo')}" class="box box_czjz">
                <div class="message-img">
                    <img src="__ASSET__/Mall/Mobile/images/img_gerenzl.png" alt="">
                </div>
                <div class="message-list-word">
                    <p>个人资料</p>
                </div>
                <div class="box_1 right-inf">
                    <i class="iconfont icon-iconarrow"></i>
                </div>
            </a>
        </dd>
        <dd>
            <a href="{:U('Member/address')}" class="box box_czjz">
                <div class="message-img">
                    <img src="__ASSET__/Mall/Mobile/images/img_adr.png" alt="">
                </div>
                <div class="message-list-word">
                    <p>地址管理</p>
                </div>
                <div class="box_1 right-inf">
                    <i class="iconfont icon-iconarrow"></i>
                </div>
            </a>
        </dd>
        <dd>
            <a href="javascript:void(0);" class="box box_czjz">
                <div class="message-img">
                    <img src="__ASSET__/Mall/Mobile/images/img_help.png" alt="">
                </div>
                <div class="message-list-word">
                    <p>客户帮助</p>
                </div>
                <div class="box_1 right-inf clearfix">
                    <i class="iconfont icon-iconarrow"></i>
                </div>
            </a>
        </dd>
        <dd>
            <a href="javascript:void(0);" class="box box_czjz">
                <div class="message-img">
                    <img src="__ASSET__/Mall/Mobile/images/img_about.png" alt="">
                </div>
                <div class="message-list-word">
                    <p>关于我们</p>
                </div>
                <div class="box_1 right-inf clearfix">
                    <i class="iconfont icon-iconarrow"></i>
                </div>
            </a>
        </dd>
    </dl>
</div>

<include file="Public/footer" />