<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>联创商城</title>

    <!--jquery-weui-->
    <link rel="stylesheet" href="__ASSET__/Common/Mobile/js/jquery-weui/lib/weui.css">
    <link rel="stylesheet" href="__ASSET__/Common/Mobile/js/jquery-weui/css/jquery-weui.css">
    <!--字体-->
    <link rel="stylesheet" href="__ASSET__/Mall/Mobile/css/font/iconfont.css">
    <!--动画-->
    <link href="__ASSET__/Common/Mobile/css/animate.min.css" rel="stylesheet">
    <!--page css-->
    <link rel="stylesheet" href="__ASSET__/Common/Mobile/css/ui-base.min.css">
    <link rel="stylesheet" href="__ASSET__/Mall/Mobile/css/main.min.css">
    <!--pace lib-->
    <script src="__ASSET__/Common/Mobile/js/pace/pace.min.js"></script>
    <link rel="stylesheet" href="__ASSET__/Common/Mobile/js/pace/pace-themes.css">
    <!--轮播图-->
    <script src="__ASSET__/Common/Mobile/js/Swiper/js/swiper.min.js"></script>
    <link rel="stylesheet" href="__ASSET__/Common/Mobile/js/Swiper/css/swiper.min.css">
    
    <!--必须引入-start-->
    <script src="__ASSET__/Common/Mobile/js/jquery-weui/lib/jquery-2.1.4.js"></script>
    <script src="__ASSET__/Common/Mobile/js/jquery-weui/js/jquery-weui.js"></script>
    <script src="__ASSET__/Common/Mobile/js/layer-v2.4/layer.min.js"></script>
    <script src="__ASSET__/Common/Mobile/js/jquery-weui/lib/fastclick.js"></script>
    <!--<script src="__ASSET__/Mall/Mobile/js/common.min.js"></script>-->
    <script src="__LOCAL_ASSET__/Mall/Mobile/js/common.js"></script>
    <!--必须引入-end-->
    
    <!--星星评分  bg-->
    <script src="__LOCAL_ASSET__/Mall/Mobile/js/raty/jquery.raty.min.js"></script>
    <link rel="stylesheet" href="__LOCAL_ASSET__/Mall/Mobile/js/raty/jquery.raty.min.css">
    <!--星星评分  end-->
    
    <!--头部-->
    <script src="__ASSET__/Common/Mobile/js/headroom/headroom.js"></script>
    
    <!--地址选择  bg-->
    <!--<script src="__ASSET__/Common/Mobile/js/jquery-weui/js/city-picker.min.js"></script>-->
    <script src="__LOCAL_ASSET__/Mall/Mobile/js/city-picker.js"></script>
    <!--地址选择 end -->
    
</head>