<include file="Public/header" />
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <label>角色名称：</label>
                    <form action="{:U('index')}" method="post">
                        <div class="input-group my-form width-220">
                            <input type="text" name="name" placeholder="输入角色名称" value="{$data['name']}" class="form-control">
                            <input type="hidden" name="m" value="Manage">
                            <input type="hidden" name="c" value="Role">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-my">搜索</button>
                            </span>
                        </div>
                    </form>
                    {:BA('role/add','','添加角色','load','btn btn-my pull-right')}
                </div>

                <div class="ibox-content ho">
                    <div class="clearfix">
                        <table class="table table-bordered my-table">
                            <thead>
                            <tr>
                                <th>角色ID</th>
                                <th>名称</th>
                                <th>系统内置</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 循环 -->
                            <foreach name="list" item="var">
				                    <tr>
				                        <td class="parent-node"><b>{$var.role_id}</b></td>        
				                        <td> {$var.role_name}</td>
				                        <td> <?php echo $var['is_system'] == 1?'是':'否' ?></td>
				                        </td>
				                        <td class="operate-line">
                                           	<eq name='var.role_id' value="1">
						                        		没有可操作的
						                    <else/>
						                        {:BA('role/auth',array("role_id"=>$var['role_id']),'角色授权','load','','700px')}
						                        {:BA('role/edit',array("role_id"=>$var['role_id']),'编辑','load','')}
						                        <!-- {:BA('role/delete',array("role_id"=>$var['role_id']),'删除','act','remberBtn')} -->
						                    </eq>
				                        </td>
				                    </tr> 
				            </foreach>     
                            <!-- 循环 -->
                            </tbody>
                        </table>
                        <nav class="text-center">
                            <ul class="pagination">{$page}</ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Public/footer" />