<include file="Public/header"/>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-9">
            <div class="btn-group" role="group">
                <div class="table-search">
                    <div class="input-group">
                        <input type="text" placeholder="Search" class="input-sm form-control">
                        <span class="input-group-btn"><button type="button" class="btn btn-sm"><i
                                class="fa fa-search"></i></button> </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped" data-toggle="table" data-sort-order="desc"
                       data-mobile-responsive="true" data-pagination="true" data-icon-size="outline">
                    <thead>
                    <tr>
                        <th data-field="roleChk" data-align="center">
                            <input id="selectAll" name="role-all" type="checkbox" val="">
                        </th>
                        <th data-field="roleId" data-align="center" data-sortable="true">引用ID</th>
                        <th data-field="roleName" data-align="center">角色名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="list" item="var">
                        <tr>
                            <td><input type="checkbox" name="role" value="{$var.role_id}"></td>
                            <td>{$var.role_id}</td>
                            <td>{$var.role_name}</td>
                        </tr>
                    </foreach>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="wid20 f-r">
            <div id="j-rightPanel" class="right-float-panel">
                <div class="right-panel">
                    <h5>用户管理</h5>
                    <ul class="list-unstyled">
                        <li type="add" id="j-add-user">
                            <a href="javascript:;">添加角色</a>
                        </li>
                        <li type="give" id="j-give-user">
                            <a href="javascript:;">角色授权</a>
                        </li>
                        <li id="j-edit-user" type="edit">
                            <a href="javascript:;">编辑</a>
                        </li>
                        <li id="j-delete-user" type="delete">
                            <a href="javascript:;">删除</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="javascript:;" class="menubtn"><i class="fa fa-th"></i></a>
    </div>
</div>

<script>
    $(function () {
        $(".list-unstyled > li").on('click', function () {
            $(this).addClass('active');
            var type = $(this).attr('type');
            if (type != 'add') {
                getOneRow();
                textJson = JSON.parse(localStorage.getItem('json1'));
                if ($("table :checkbox:checked").size() != 0 && $("table :checkbox:checked").size() <= 2) {
                    var roleId = textJson.roleId;
                    console.log(textJson);
                    if (roleId == 1) {
                        layer.alert("超级管理员，无权操作", 5);
                        return false;
                    } else {
                        switch (type) {
                            case 'give':
                                var href = "{:U('auth')}" + "&role_id=" + roleId;
                                loaddata(href, '授权', '100%', '100%', true);
                                break;
                            case 'edit':
                                var href = "{:U('edit')}" + "&role_id=" + roleId;
                                loaddata(href, '编辑', '400px', 'auto', true);
                                break;
                            case 'delete':

                                var href = "{:U('delete')}" + "&role_id=" + roleId;
                                loaddata(href, '删除', '100%', '100%', false);
                        }

                        //取消
                        $("#j-cancel-btn").click(function () {
                            layer.close(index);
                        })
                    }
                } else {
                }
            } else {
                var href = "{:U('create')}";
                loaddata(href, '添加角色', '400px','',true);
            }
        })
    });

    function loaddata(href, title, w, h, type) {
        if (type == true) {
            $.get(href, function (data) {
                var index = layer.tab({
                    type: 1,
                    area: [w, h],
                    title: title,
                    skin: 'layui-layer-demo', //样式类名
                    //area: '460px',
                    shift: 4,
                    btn: ['保存', '取消'],
                    content: data,
                    shift: 0, //动画0-6
                    yes: function (index, layero) {
                        $('#layui-layer' + index).find('form').submit();
                    }
                })
            }, 'html');
        } else {
            var messsage = "正在删除一个角色，删除本用户后，所有相关项目就一起删除，并且不能使用，是否真的删除！",
                    yesMsg = "你已经成功进行删除操作";
            deleteRow(messsage, href, yesMsg);
        }
    }

</script>
<include file="Public/footer"/>

